@model CapsuleIdentity.Models.VetementGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Vetements" asp-action="Index" method="get">
    <p>
         <select asp-for="VetementGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Nom: <input type="text" asp-for="SearchString" />

        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
        
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vetements[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vetements[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vetements[0].Couleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vetements[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vetements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VetementId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VetementId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VetementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
